<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Predict if there is a anomaly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
  <div class="container">
  
    {% if pred: %}
         <p>Your house will probably be valued at: ${{pred}}</p>
    {% endif %}
    <br><br>
    <div class="jumbotron text-center">
      <h1>Predict if there is an anomaly</h1>
    </div>

    <br><br>

    <form action="/get-user-data" method="POST">
        <input type="submit" value="get Result">

        <br><br>
        <label for="age">age</label>
        <input type="number" name="age" id="age" value="40">
        
        <br><br>

        <label for="sex">sex</label>
        <input type="number" name="sex" id="sex" value="1">
        
        <br><br>

        <label for="height">height</label>
        <input type="number" name="height" id="height" value="180">
        
        <br><br>
        
        <label for="weight">weight</label>
        <input type="number" name="weight" id="weight" value="4">
        
        <br><br>
        
        <label for="QRS_duration">QRS_duration</label>
        <input type="number" name="QRS_duration" id="QRS_duration" value="85">
        
        <br><br>
        
        <label for="PR">PR</label>
        <input type="number" name="PR" id="PR" value="174">
        
        <br><br>
        
        <label for="QT">QT</label>
        <input type="number" name="QT" id="QT" value="400">
        
        <br><br>
        
        <label for="T">T</label>
        <input type="number" name="T" id="T" value="150">
        
        <br><br>
        
        <label for="P">P</label>
        <input type="number" name="P" id="P" value="39">
        
        <br><br>
        
        <label for="aQRST">aQRST</label>
        <input type="number" name="aQRST" id="aQRST" value="25">

        <br> <br>

        <label for="J">J</label>
        <input type="number" name="J" id="J" value="53">

        <br> <br>

        <label for="heart_rate">heart_rate</label>
        <input type="number" name="heart_rate" id="heart_rate" value="60">

        <br> <br>

        <label for="wQ">wQ</label>
        <input type="number" name="wQ" id="wQ" value="25">

        <br> <br>

        <label for="wR">wR</label>
        <input type="number" name="wR" id="wR" value="25">

        <br> <br>

        <label for="wS">wS</label>
        <input type="number" name="wS" id="wS" value="25">

        <br> <br>

        <label for="wR_">wR_</label>
        <input type="number" name="wR_" id="wR_" value="25">

        <br> <br>






    </form>

  </div>
</body>

</html>

